BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 80
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<[^/]+>$'
    Priority: 1
  - Regex: '^<.+/.*>$'
    Priority: 2
  - Regex: '^"[^/]+\"$'
    Priority: 3
  - Regex: '^".+/.+"$'
    Priority: 4